# Set storyteller.php as index
DirectoryIndex storyteller.php

# Deny access to all files
Order Allow,Deny

# Allow api endpoint
<FilesMatch "^(storyteller\.php|)$">
Allow from all
</FilesMatch>

# Allow command help document
<FilesMatch "^(commands\.html|)$">
Allow from all
</FilesMatch>
